<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.t5_roundtrip"/>
      <class name="tests.t4_onewaytrip"/>
      <class name="tests.t3_login"/>
      <class name="tests.t9_validatefield"/>
      <class name="tests.t8_bookingdetails"/>
      <class name="tests.t2_signup"/>
      <class name="tests.t1_navigatetospicejet"/>
      <class name="tests.t7_fillpassenger"/>
      <class name="tests.t6_selectflight"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
